/* App-wide rules */
#root {
  background-color: white;
  margin: auto;
}
.App {
  text-align: center;
  width: 100%;
  margin: auto;
  font-family: 'Noto Sans', sans-serif;
}
.main-body {
  width: 60%;
  margin: auto
}
.logo {
  margin-top: 1%;
}
p {
  margin: 0.2rem;
  text-align: left;
 }

 li {
  text-align: left;
 }






/* General subreddit page rules*/
.subreddit-name {
  padding-top: 1.5rem;
  padding-left: 4rem;
  text-align: left;
  margin: 0;
  margin-bottom: 1rem;
}
.topic {
  padding: 0.5rem 0;
  border-width: 2px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to right, 
      rgba(0, 0, 0, 0), 
      red,
      rgba(0, 0, 0, 0)
    ) 1 0 0 0;
}
.topic-info {
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.15rem;
  font-size: 0.9rem;
  align-content: center;
  align-self: center;
 }

 .topic-arrows-container:hover {
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,0,0,0.05) 50%, rgba(255,255,255,0) 100%);
 }





/* Show or hide comments button */
.show-or-hide-comments {
  cursor: pointer;
  border: 0;
  transition-duration: 0.4s;
  background-color: rgba(0,0,0, 0);
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.9rem;
}
.show-or-hide-comments:hover {
  color: blue !important;
}
.show-or-hide-comments:active {
  transform: translateY(3px);
}






/* Subreddit Bar rules */
.subreddit-button {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  border: 0;
  transition-duration: 0.4s;
  background-color: rgba(0,0,0, 0);
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: black;

}
.subreddit-button:hover {
  color: #6b6b6b !important ;
}
.subreddit-button:active {
  transform: translateY(3px);
}

.subreddit-button-selected {
  border-width: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-image: 
    linear-gradient(
      to right, 
      rgba(0, 0, 0, 0), 
      red,
      rgba(0, 0, 0, 0)
    ) 0 0 1 0;
  color: red;
  transition-duration: 0s;
}





/* Topic title and thumbnail container */
.topic-and-thumbnail {
  display: flex;
  justify-content: space-between;
}
.topic-name {
  padding-left: 0.5rem;
  align-self: center;
  font-size: 1rem;
  text-align: left;
}
.topic-name:hover {
  cursor: pointer;
}
.thumbnail-container {
  width: 150px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
img.thumbnail {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  max-width: 70px;
  max-height: 70px;
  align-self: flex-end;

  width: 70px;
  aspect-ratio: auto 70 / 60;
  height: 60px;
 }






 /* Comment rules */
 .author {
  font-weight: bold;
  color: #369;
  text-align: left;
  margin: 0.2rem;
  font-size: 0.8rem;
}
.comment {
  border: rgb(220, 220, 220) 1px solid;
  margin: 1px;
  margin: 0.2rem;
  padding-left: 0.3rem;
  border-radius: 5px;
}
.comment-grey {
  background-color: rgb(247, 248, 248);
}
.comment-white {
  background-color: white;
}
.author-info {
  padding-bottom: 0rem;
  display: flex;
}
.points {
  font-size: 0.8rem;
  font-weight: bold;
  align-self: center;
}
.comment-created-when {
  font-size: 0.8rem;
  align-self: center;
}
.comment-body {
  padding-bottom: 0.2rem;
  padding-top: 0.05rem;
}






 /* Comment head rules */
.comment-head {
  background-color: white;
  margin: 1px;
  margin: 0.2rem;
  padding-left: 0.3rem;
  border-radius: 5px;
}
.author-in-comments {
  color: rgb(232, 18, 240);
  font-weight: bold;
  text-align: left;
  margin: 0.2rem;
  font-size: 0.8rem;
}
.author-head {
  font-weight: bold;
  color: #369;
}






/* Upvote and Downvote arrows */
.arrow {
  max-width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.8rem;
  justify-content: center;
  transition-duration: 0.1s;
  cursor: pointer;
}
.arrow:active {
  transform: translateY(3px);
}

.topic-arrows-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
} 

.arrows-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin-bottom: 0.7rem;


}
.topic {
  justify-content: center;
  width: 100%;
}
.topic-score {
  margin-top: 0.8rem; 
  padding-right: 0.2rem;
  min-width: 3rem;
}








/* .resize-image-button {
  height: 30%;
  width: 18%;
  align-self: flex-end;
} */






/* Tablets, Phones and other small screen devices */
@media only screen and (max-width: 900px) {
  .App {
    width: 98%;
    align-items: center;
    align-content: center;
    margin: auto;

  }

  /* 
  Tried to change loading component properties, not working.
  .loop-loading {
    color: #ff4500;
    position:absolute;
     top: 90%; 
     left: 10%;  
     margin: auto;
     bottom: 0;
     right: 0;
    transform: "translate(-50%, -50%)" 
  }
  */











  
}







