/* App-wide rules */
#root {
  background-color: white;
  margin: auto;
}
.App {
  text-align: center;
  width: 100%;
  margin: auto;
  font-family: 'Noto Sans', sans-serif;
}
.main-body {
  width: 60%;
  margin: auto
}
.logo {
  justify-content: center;
  cursor: pointer;
  width: 370px;
  margin: auto;
  margin-top: 0.5rem;
  height: 2.6rem;

  background-size: 50%;
  background-image: url(tldreddit-sprites.png);
  background-repeat: no-repeat;
  background-position: 50% 0%;  
}
p {
  margin: 0.2rem;
  text-align: left;
 }

 li {
  text-align: left;
 }



/* General subreddit page rules*/
.subreddit-name {
  padding-top: 1.5rem;
  padding-left: 4rem;
  text-align: left;
  margin: 0;
  margin-bottom: 1rem;
}
.topic {
  padding: 0.25rem 0;
  border-width: 2px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to right, 
      rgba(0, 0, 0, 0), 
      #bb0010,
      rgba(172, 5, 5, 0)
    ) 1 0 0 0;
  justify-content: center;
  width: 100%;
}
 .topic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
} 
 /* .topic-container:hover {
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,0,10,0.02) 50%, rgba(255,255,255,0) 100%);
 } */
.whole-topic-container {
  display: flex;
  justify-content: flex-start
}



/* Subreddit Bar rules */
.subreddit-bar {
  margin-top: 0.5rem;
}
.subreddit-button {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  border: 0;
  transition-duration: 0.2s;
  background-color: rgba(0,0,0, 0);
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: black;
}
.subreddit-button:hover {
  color: #6b6b6b !important ;
}
.subreddit-button:active {
  transform: translateY(3px);
}
.subreddit-button-selected {
  border-width: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-image: 
    linear-gradient(
      to right, 
      rgba(0, 0, 0, 0), 
      #bb0010,
      rgba(0, 0, 0, 0)
    ) 0 0 1 0;
  color: red;
  transition-duration: 0s;
}



/* Upvote and Downvote arrows */
.arrow {
  max-width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.8rem; 
  justify-content: center;
  cursor: pointer;
  width: 100%;
  background-image: url(tldreddit-sprites.png);
  background-repeat: no-repeat;
}
.arrow:active {
  transform: translateY(3px);
}
.arrows-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin-bottom: 0.7rem;
  max-width: 5%;
}
.topic-score {
  margin-top: 0.8rem; 
  padding-right: 0.2rem;
  min-width: 3rem;
  font-size: 0.7rem
}
.up-arrow {
    background-position: 2.3% 70%;
}
.down-arrow {
    background-position: 2.3% 90%;
}
.up-arrow-upvoted {
  background-position: 10.1% 70%;
}
.down-arrow-downvoted {
  background-position: 10.1% 90%;
}



/* Topic title and thumbnail container */
.topic-and-thumbnail {
  display: flex;
  justify-content: space-between;
}
.topic-name {
  padding-left: 0.7rem;
  align-self: center;
  font-size: 1rem;
  text-align: left;
  transition-duration: 0.2s;
}
.thumbnail-container {
  width: 150px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}
img.thumbnail {
  max-width: 70px;
  max-height: 70px;
  align-self: flex-end;
  width: 70px;
  height:70px;
 }
.topic-name a {
  text-decoration: none;
  color: black;
  transition-duration: 0.2s;
}
.topic-name a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #6b6b6b !important ;
}
.topic-name:hover {
  cursor: pointer;
  color: #6b6b6b !important ;
}



 /* Preview image button */
.preview-image-button {
  appearance: none;
  align-self: flex-end;
  background-color: rgba(0,0,0, 0);
  /* border: rgb(220, 220, 220, 0) 1px solid; */
  border-radius: 2px;
  /* box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset; */
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  list-style: none;
  padding: 3px 6px;
  position: relative;
  /* transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1); */
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin-bottom: 0.4rem;
  margin-right: 0.5rem;
  width: 0.5rem;
  height: 0.85rem;
  background-size: 200%;
  background-image: url(resize.png);
  background-repeat: no-repeat;
}

/* .preview-image-button:hover {
  background-color: rgb(217, 218, 218); 
  text-decoration: none;
  transition-duration: 0;
} */
.preview-image-button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}
.preview-image-button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}
.preview-image-button:focus {
  outline: 1px transparent;
}
.preview-image-button:before {
  display: none;
}
.preview-image-button:-webkit-details-marker {
  display: none;
}
.preview-image-button-open {
  background-position: 0% 0%;
}
.preview-image-button-open:hover {
  background-image: url(resize-hover.png);
}
.preview-image-button-close {
  background-position: 100% 0%;
}
.preview-image-button-close:hover {
  background-image: url(resize-hover.png);
}



/* Preview Image */
.preview-image {
  width: 50%;
  margin: left;
  padding-left: 0.7rem;
}
.preview-image img {
  width: 100%;
}



/* Video and Gifs preview */
.preview-image video {
  width: 100%;
}
.video-preview {
  margin: left;
}



/* Comment list rules */
.topic-info {
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.15rem;
  font-size: 0.8rem;
  align-content: center;
  align-self: center;
 }
.topic-info-subreddit {
  transition-duration: 0.2s;
}
.topic-info-subreddit:hover {
  cursor: pointer;
  color: #6b6b6b !important ;
}



/* Show or hide comments button */
.show-or-hide-comments {
  cursor: pointer;
  border: 0;
  transition-duration: 0.2s;
  background-color: rgba(0,0,0, 0);
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.8rem;
  align-self: center;
  justify-self: right;
  margin-right: 0.3rem;
}
.show-or-hide-comments:hover {
  color: blue !important;
}
.show-or-hide-comments:active {
  transform: translateY(3px);
}



 /* Comment head rules */
 .comment-head {
  background-color: rgba (255, 255, 255, 0);
  margin: 1px;
  margin: 0.2rem;
  padding-left: 0.3rem;
  border-radius: 5px;
  width: 100%;
}
.author-in-comments {
  color: rgb(232, 18, 240);
  font-weight: bold;
  text-align: left;
  margin: 0.2rem;
  font-size: 0.8rem;
}
.author-head {
  font-weight: bold;
  color: #369;
}
.author-head:hover {
cursor: pointer;
}



/* Comment rules */
.author {
  font-weight: bold;
  color: #369;
  text-align: left;
  margin: 0.2rem;
  margin-left: 0;
  font-size: 0.7rem;
}
.comment p {
  margin-left: 0;
}
.comment {
  border: rgb(220, 220, 220) 1px solid;
  margin: 1px;
  margin: 0.2rem;
  padding-left: 0.3rem;
  border-radius: 5px;
  word-wrap: break-word;
  width: 100%;
}
.author-info {
  padding-bottom: 0rem;
  display: flex;
  
}
.points {
  font-size: 0.6rem;
  font-weight: bold;
  align-self: center;
}
.comment-created-when {
  font-size: 0.7rem;
  align-self: center;
}
.comment-body {
  padding-bottom: 0.2rem;
  padding-top: 0.05rem;
  text-align: left;
}
.comments {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 1rem;
  font-size: 0.9rem;
}
.comment:nth-child(odd) {
  background-color: rgb(247, 248, 248);
}

.comment-list {
  margin-top: 0.25rem;
}



/* Page Changer Rules */
.page-changer {
  display: flex;
  margin: 1rem;
  margin-left: 4rem;
  cursor: pointer;
  color: blue;
}













/* CSS rule for markdown-to-jsx */
/*
.comment-body {
    margin: 0.2rem;
} 
*/

/* .resize-image-button {
  height: 30%;
  width: 18%;
  align-self: flex-end;
} */










/* Tablets, Phones and other small screen devices */
@media only screen and (max-width: 900px) {
  .App {
    width: 98%;
    align-items: center;
    align-content: center;
    margin: auto;
    font-size: 0.6rem;
  }
  .arrows-container {
    align-items: center;
    margin-bottom: 0.5rem;
    max-width: 8%;
  }
  .arrow {
    background-size: 1500%;
    max-width: 1rem;
    height: 1rem;
    margin-top: 0.8rem; 
    justify-content: center;   
  }
  .main-body {
    width: 100%;
  }
  .topic-container {
    max-width: 95%
  }
  .subreddit-name {
    font-size: 1.25rem;
    padding-left: 2.5rem;
  }
  .topic-name {
    font-size: 0.8rem;
  }
  .thumbnail-container {
    max-width: 25%;
  }
  .topic-info {
    font-size: 0.6rem;
  }
  .show-or-hide-comments {
    font-size: 0.6rem;
  }
  .subreddit-button {
    font-size: 0.8rem;
  }
  .comment {
    width: 106%;
  }
  .comments {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 0.5rem
  }



  /* 
  Tried to change loading component properties, not working.
  .loop-loading {
    color: #ff4500;
    position:absolute;
     top: 90%; 
     left: 10%;  
     margin: auto;
     bottom: 0;
     right: 0;
    transform: "translate(-50%, -50%)" 
  }
  */


}







