.theme--default {
  background: white;
}

.theme--dark {
  background: #323232;
}

.dqbMYY .theme--dark {
  background: #323232;
  color: #ff4500;
}

.dqbMYY .theme--default {
  background: white;
  color: red;
}

body .theme--dark {
  background: #323232;
}

body .theme--default {
  background: white;
}

body {
  background: #323232;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.theme--default html {
  background: white;
  color: black;
}

.theme--dark html {
  background: #323232;
  color: rgba(255, 255, 255, 0.87);
}

.theme--default body {
  background: white;
  color: black;
}

.theme--dark body {
  background: #323232;
  color: rgba(255, 255, 255, 0.87);
}

#root {
  margin: auto;
}

.theme--default #root {
  background: white;
  color: black;
}

.theme--dark #root {
  background: #323232;
  color: rgba(255, 255, 255, 0.87);
}

p {
  margin: 0.2rem;
  text-align: left;
}

.theme--default p {
  color: black;
}

.theme--dark p {
  color: rgba(255, 255, 255, 0.87);
}

a {
  font-weight: bold;
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.theme--default a {
  color: #0079d3;
}

.theme--dark a {
  color: #00C8FF;
}

.theme--default a:hover {
  color: #6b6b6b;
}

.theme--dark a:hover {
  color: #6b6b6b;
}

li {
  text-align: left;
}

.theme--default li {
  color: black;
}

.theme--dark li {
  color: rgba(255, 255, 255, 0.87);
}

code {
  word-break: break-all;
}

.theme--default code {
  color: black;
}

.theme--dark code {
  color: rgba(255, 255, 255, 0.87);
}

.theme--default time {
  color: #6e6e6e;
}

.theme--dark time {
  color: #aaaaaa;
}

pre {
  white-space: pre;
  word-wrap: normal;
  overflow-x: auto;
}

.theme--default h1, .theme--default h2, .theme--default h3, .theme--default h4, .theme--default h5, .theme--default h6 {
  color: black;
}

.theme--dark h1, .theme--dark h2, .theme--dark h3, .theme--dark h4, .theme--dark h5, .theme--dark h6 {
  color: rgba(255, 255, 255, 0.87);
}

.theme--default table {
  color: black;
}

.theme--dark table {
  color: rgba(255, 255, 255, 0.87);
}

.theme--default .separator {
  color: black;
}

.theme--dark .separator {
  color: rgba(255, 255, 255, 0.87);
}

.input-form {
  width: 100%;
}

.input-form input[type=text] {
  padding: 5px;
  font-size: 0.8rem;
  border-radius: 1px;
  float: left;
  width: 70%;
  background: #f1f1f1;
  height: 25px;
}

.theme--default .input-form input[type=text] {
  border: gainsboro 1px solid;
}

.theme--dark .input-form input[type=text] {
  border: gainsboro 1px solid;
}

.input-form button {
  float: left;
  width: 20%;
  max-width: 35px;
  padding: 5px;
  font-size: 0.8rem;
  border: 1px solid grey;
  border-radius: 1px;
  cursor: pointer;
}

.theme--default .input-form button {
  background: #bb0010;
  color: white;
}

.theme--dark .input-form button {
  background: #ff4500;
  color: #323232;
}

.theme--default .input-form button:hover {
  background: #6b6b6b;
}

.theme--dark .input-form button:hover {
  background: #6b6b6b;
}

.input-form::after {
  content: "";
  clear: both;
  display: table;
}

.search-icon {
  padding-right: 0.5rem;
  margin-top: 0.25rem;
}

.theme--default .search-icon {
  color: black;
}

.theme--dark .search-icon {
  color: rgba(255, 255, 255, 0.87);
}

input:focus {
  outline: none;
}

.App {
  text-align: center;
  width: 100%;
  margin: auto;
  font-family: 'Noto Sans', sans-serif;
  word-break: break-word;
}

.theme--default .App {
  background: white;
  color: black;
}

.theme--dark .App {
  background: #323232;
  color: rgba(255, 255, 255, 0.87);
}

.main-body {
  width: 100%;
  margin: auto;
  font-weight: 400;
  font-style: normal;
}

.theme--default .main-body {
  background: white;
}

.theme--dark .main-body {
  background: #323232;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: left;
  width: 100%;
  padding-left: 0.8rem;
  padding-top: 2px;
  padding-bottom: 4px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-width: 2px;
  border-style: solid;
}

.theme--default .top-bar {
  background: rgba(230, 230, 230, 0.85);
  -o-border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #bb0010, rgba(0, 0, 0, 0)) 0 0 1 0;
     border-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(#bb0010), to(rgba(0, 0, 0, 0))) 0 0 1 0;
     border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #bb0010, rgba(0, 0, 0, 0)) 0 0 1 0;
}

.theme--dark .top-bar {
  background: rgba(70, 70, 70, 0.85);
  -o-border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ff4500, rgba(0, 0, 0, 0)) 0 0 1 0;
     border-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(#ff4500), to(rgba(0, 0, 0, 0))) 0 0 1 0;
     border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ff4500, rgba(0, 0, 0, 0)) 0 0 1 0;
}

.top-bar .theme-icon {
  margin-left: 0.15rem;
  margin-top: 0.15rem;
  margin-right: 0.5rem;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.theme--default .top-bar .theme-icon {
  color: black;
}

.theme--dark .top-bar .theme-icon {
  color: rgba(255, 255, 255, 0.87);
}

.theme--default .top-bar .theme-icon:hover {
  color: #6b6b6b !important;
}

.theme--dark .top-bar .theme-icon:hover {
  color: #6b6b6b !important;
}

.top-bar .logo {
  cursor: pointer;
  width: 152px;
  height: 32px;
  margin-left: 0rem;
  margin-right: 0.5rem;
  background-size: 100%;
  background-repeat: no-repeat;
}

.theme--default .top-bar .logo {
  background-image: url(../Images/TLDReddit-logo-smaller.png);
}

.theme--dark .top-bar .logo {
  background-image: url(../Images/TLDReddit-logo-smaller_inverted.png);
}

.top-bar .subreddit-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  width: 172px;
  height: 28px;
}

.top-bar .subreddit-bar {
  margin: auto;
  width: 95%;
}

.top-bar .subreddit-bar .subreddit-button {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  border: 0;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
  font-size: 0.95rem;
  padding: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.theme--default .top-bar .subreddit-bar .subreddit-button {
  background: rgba(0, 0, 0, 0);
  color: black;
}

.theme--dark .top-bar .subreddit-bar .subreddit-button {
  background: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.87);
}

.theme--default .top-bar .subreddit-bar .subreddit-button:hover {
  color: #6b6b6b !important;
}

.theme--dark .top-bar .subreddit-bar .subreddit-button:hover {
  color: #6b6b6b !important;
}

.top-bar .subreddit-bar .subreddit-button:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.top-bar .subreddit-bar .subreddit-button-selected {
  border-width: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.theme--default .top-bar .subreddit-bar .subreddit-button-selected {
  color: #bb0010;
  -o-border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #bb0010, rgba(0, 0, 0, 0)) 0 0 1 0;
     border-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(#bb0010), to(rgba(0, 0, 0, 0))) 0 0 1 0;
     border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #bb0010, rgba(0, 0, 0, 0)) 0 0 1 0;
}

.theme--dark .top-bar .subreddit-bar .subreddit-button-selected {
  color: #ff4500;
  -o-border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ff4500, rgba(0, 0, 0, 0)) 0 0 1 0;
     border-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(#ff4500), to(rgba(0, 0, 0, 0))) 0 0 1 0;
     border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ff4500, rgba(0, 0, 0, 0)) 0 0 1 0;
}

.login-bar {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
}

.login-bar .user-icon {
  margin-left: 0.25rem;
  margin-top: 0.25rem;
  margin-right: 0.5rem;
}

.theme--default .login-bar .user-icon {
  color: black;
}

.theme--dark .login-bar .user-icon {
  color: rgba(255, 255, 255, 0.87);
}

.login-bar #login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-bar .login-input {
  margin-right: 0.25rem;
  margin-bottom: 0.1rem;
  background: #f5f5f5 !important;
}

.login-bar .lock-icon {
  margin-left: 0.75rem;
  margin-top: 0.25rem;
  margin-right: 0.5rem;
}

.theme--default .login-bar .lock-icon {
  color: black;
}

.theme--dark .login-bar .lock-icon {
  color: rgba(255, 255, 255, 0.87);
}

.subreddit-name-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.subreddit-name-border .subreddit-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 48px;
}

.subreddit-name-border .subreddit-name h2 {
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 0.65rem;
  width: 100%;
}

.subreddit-name-border .subreddit-name .subreddit-icon {
  display: inline-block;
  height: auto;
  display: block;
  width: 48px;
  height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
}

.subreddit-name-border .subreddit-name .subreddit-icon-substitute {
  display: inline-block;
  height: auto;
  display: block;
  width: 48px;
  height: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
}

.theme--default .subreddit-name-border .subreddit-name .subreddit-icon-substitute {
  background-image: url(../Images/reddit_guy.png);
}

.theme--dark .subreddit-name-border .subreddit-name .subreddit-icon-substitute {
  background-image: url(../Images/reddit_guy_inverted.png);
}

.subreddit-name-border .subreddit-name-sidebar {
  width: 20%;
}

.main-subreddit-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.main-subreddit-body .all-topics {
  width: 75%;
}

.main-subreddit-body .all-topics .no-results-found {
  margin-top: 5rem;
  font-weight: normal;
  text-align: center;
}

.whole-topic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.whole-topic-container .topic-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 95%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.whole-topic-container .topic-container .topic {
  padding: 0.25rem 0;
  border-width: 2px;
  border-style: solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.theme--default .whole-topic-container .topic-container .topic {
  -o-border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #bb0010, rgba(0, 0, 0, 0)) 1 0 0 0;
     border-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(#bb0010), to(rgba(0, 0, 0, 0))) 1 0 0 0;
     border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #bb0010, rgba(0, 0, 0, 0)) 1 0 0 0;
}

.theme--dark .whole-topic-container .topic-container .topic {
  -o-border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ff4500, rgba(0, 0, 0, 0)) 1 0 0 0;
     border-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(#ff4500), to(rgba(0, 0, 0, 0))) 1 0 0 0;
     border-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ff4500, rgba(0, 0, 0, 0)) 1 0 0 0;
}

.arrows-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
  max-width: 3%;
}

.arrows-container .arrow {
  max-width: 1.55rem;
  height: 2.1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 100%;
  font-size: 1.6rem;
}

.theme--default .arrows-container .arrow {
  color: black;
}

.theme--dark .arrows-container .arrow {
  color: rgba(255, 255, 255, 0.87);
}

.arrows-container .arrow:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.arrows-container .up-arrow {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.theme--default .arrows-container .up-arrow:hover {
  color: #6b6b6b;
}

.theme--dark .arrows-container .up-arrow:hover {
  color: #6b6b6b;
}

.arrows-container .down-arrow {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.theme--default .arrows-container .down-arrow:hover {
  color: #6b6b6b;
}

.theme--dark .arrows-container .down-arrow:hover {
  color: #6b6b6b;
}

.arrows-container .topic-score {
  margin-top: 0rem;
  padding-left: 0.2rem;
  font-size: 0.7rem;
}

.theme--default .arrows-container .topic-score {
  color: black;
}

.theme--dark .arrows-container .topic-score {
  color: rgba(255, 255, 255, 0.87);
}

.theme--default .arrows-container .topic-score-upvoted {
  color: #ff4500 !important;
}

.theme--dark .arrows-container .topic-score-upvoted {
  color: #ff4500 !important;
}

.theme--default .arrows-container .topic-score-downvoted {
  color: #336699 !important;
}

.theme--dark .arrows-container .topic-score-downvoted {
  color: #66CCFF !important;
}

.theme--default .arrows-container .up-arrow-normal {
  color: black;
}

.theme--dark .arrows-container .up-arrow-normal {
  color: rgba(255, 255, 255, 0.87);
}

.theme--default .arrows-container .up-arrow-upvoted {
  color: #ff4500;
}

.theme--dark .arrows-container .up-arrow-upvoted {
  color: #ff4500;
}

.theme--default .arrows-container .down-arrow-normal {
  color: black;
}

.theme--dark .arrows-container .down-arrow-normal {
  color: rgba(255, 255, 255, 0.87);
}

.theme--default .arrows-container .down-arrow-downvoted {
  color: #336699;
}

.theme--dark .arrows-container .down-arrow-downvoted {
  color: #66CCFF;
}

.topic-and-thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topic-and-thumbnail .topic-name {
  padding-left: 0.7rem;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 1.1rem;
  text-align: left;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topic-and-thumbnail .topic-name a {
  text-decoration: none;
  font-weight: 400;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.topic-and-thumbnail .topic-name .topic-flair {
  font-size: 0.7rem;
  margin-right: 0.5rem;
  border-radius: 4px;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
  font-weight: 100;
  float: left;
  margin-top: 2px;
}

.theme--default .topic-and-thumbnail .topic-name .topic-flair {
  color: #bb0010;
  border: 1px solid #6e6e6e;
}

.theme--dark .topic-and-thumbnail .topic-name .topic-flair {
  color: #ff4500;
  border: 1px solid #aaaaaa;
}

.topic-and-thumbnail .topic-name .topic-domain {
  font-size: 0.7rem;
  margin-left: 0.5rem;
  font-weight: 100;
}

.theme--default .topic-and-thumbnail .topic-name .topic-domain {
  color: #6e6e6e;
}

.theme--dark .topic-and-thumbnail .topic-name .topic-domain {
  color: #aaaaaa;
}

.theme--default .topic-and-thumbnail .topic-name-link {
  color: black;
}

.theme--dark .topic-and-thumbnail .topic-name-link {
  color: rgba(255, 255, 255, 0.87);
}

.topic-and-thumbnail .topic-name-link:hover {
  cursor: pointer;
}

.theme--default .topic-and-thumbnail .topic-name-link:hover {
  color: #6b6b6b !important;
}

.theme--dark .topic-and-thumbnail .topic-name-link:hover {
  color: #6b6b6b !important;
}

.topic-and-thumbnail .topic-name-link a:hover {
  text-decoration: none;
  cursor: pointer;
}

.theme--default .topic-and-thumbnail .topic-name-link a:hover {
  color: #6b6b6b !important;
}

.theme--dark .topic-and-thumbnail .topic-name-link a:hover {
  color: #6b6b6b !important;
}

.topic-and-thumbnail .topic-name-link-sticky {
  font-weight: bold !important;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.theme--default .topic-and-thumbnail .topic-name-link-sticky {
  color: #228822 !important;
}

.theme--dark .topic-and-thumbnail .topic-name-link-sticky {
  color: #44FF44 !important;
}

.topic-and-thumbnail .topic-name-link-sticky:hover {
  cursor: pointer;
}

.theme--default .topic-and-thumbnail .topic-name-link-sticky:hover {
  color: #6b6b6b !important;
}

.theme--dark .topic-and-thumbnail .topic-name-link-sticky:hover {
  color: #6b6b6b !important;
}

.topic-and-thumbnail .topic-name-link-sticky a:hover {
  text-decoration: none;
  cursor: pointer;
}

.theme--default .topic-and-thumbnail .topic-name-link-sticky a:hover {
  color: #6b6b6b !important;
}

.theme--dark .topic-and-thumbnail .topic-name-link-sticky a:hover {
  color: #6b6b6b !important;
}

.thumbnail-container {
  width: 120px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 0.5rem;
  margin-top: 0.75rem;
}

.thumbnail-container img.thumbnail {
  max-width: 70px;
  max-height: 52px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 70px;
  height: 62px;
  border-radius: 2px;
}

.thumbnail-container .thumbnail-substitute {
  max-height: 62px !important;
}

.thumbnail-container .thumbnail-substitute-nopreview {
  width: 70px;
  height: 62px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.theme--default .thumbnail-container .thumbnail-substitute-nopreview {
  background-image: url(../Images/no-preview-icon.png);
}

.theme--dark .thumbnail-container .thumbnail-substitute-nopreview {
  background-image: url(../Images/no-preview-icon-dark.png);
}

.thumbnail-container .thumbnail-substitute-nsfw {
  width: 70px;
  height: 62px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.theme--default .thumbnail-container .thumbnail-substitute-nsfw {
  background-image: url(../Images/nsfw-icon-larger.png);
}

.theme--dark .thumbnail-container .thumbnail-substitute-nsfw {
  background-image: url(../Images/nsfw-icon-larger-dark.png);
}

.thumbnail-container .thumbnail-substitute-spoiler {
  width: 70px;
  height: 62px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.theme--default .thumbnail-container .thumbnail-substitute-spoiler {
  background-image: url(../Images/spoiler-alert.png);
}

.theme--dark .thumbnail-container .thumbnail-substitute-spoiler {
  background-image: url(../Images/spoiler-alert-dark.png);
}

.thumbnail-container .thumbnail-substitute-text {
  width: 70px;
  height: 62px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.theme--default .thumbnail-container .thumbnail-substitute-text {
  background-image: url(../Images/text-icon-larger.png);
}

.theme--dark .thumbnail-container .thumbnail-substitute-text {
  background-image: url(../Images/text-icon-larger-dark.png);
}

.thumbnail-container .preview-image-button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
  margin-bottom: 0.25rem;
  margin-right: 0.5rem;
  width: 1.25rem;
  height: 1.25rem;
  background-size: 100%;
}

.thumbnail-container .preview-image-button-open {
  background-position: 0% 0%;
  background-image: url(../Images/image-icon-hover.svg);
}

.thumbnail-container .preview-image-button-open:hover {
  background-position: 0% 0%;
  background-image: url(../Images/image-icon.svg);
}

.thumbnail-container .preview-image-button-close {
  background-position: 0% 0%;
  background-image: url(../Images/thumbnail-sprites.png);
}

.thumbnail-container .preview-image-button-close:hover {
  background-position: 0% 9.4%;
  background-image: url(../Images/thumbnail-sprites.png);
}

.thumbnail-container .preview-video-button-open {
  background-position: 0% 18.8%;
  background-image: url(../Images/thumbnail-sprites.png);
}

.thumbnail-container .preview-video-button-open:hover {
  background-position: 0% 28.2%;
  background-image: url(../Images/thumbnail-sprites.png);
}

.thumbnail-container .preview-video-button-close {
  background-position: 0% 0%;
  background-image: url(../Images/thumbnail-sprites.png);
}

.thumbnail-container .preview-video-button-close:hover {
  background-position: 0% 9.4%;
  background-image: url(../Images/thumbnail-sprites.png);
}

.thumbnail-container .preview-gallery-button-open {
  background-position: 0% 0%;
  background-image: url(../Images/gallery-icon-hover.svg);
}

.thumbnail-container .preview-gallery-button-open:hover {
  background-position: 0% 0%;
  background-image: url(../Images/gallery-icon.svg);
}

.thumbnail-container .preview-gallery-button-close {
  background-position: 0% 0%;
  background-image: url(../Images/thumbnail-sprites.png);
}

.thumbnail-container .preview-gallery-button-close:hover {
  background-position: 0% 9.4%;
  background-image: url(../Images/thumbnail-sprites.png);
}

.thumbnail-container .preview-text-button-open {
  background-position: 0% 37.6%;
  background-image: url(../Images/thumbnail-sprites.png);
}

.thumbnail-container .preview-text-button-open:hover {
  background-position: 0% 47%;
  background-image: url(../Images/thumbnail-sprites.png);
}

.thumbnail-container .preview-text-button-close {
  background-position: 0% 0%;
  background-image: url(../Images/thumbnail-sprites.png);
}

.thumbnail-container .preview-text-button-close:hover {
  background-position: 0% 9.4%;
  background-image: url(../Images/thumbnail-sprites.png);
}

.thumbnail-container .preview-tweet-button-open {
  background-position: 0% 37.6%;
  background-image: url(../Images/thumbnail-sprites.png);
}

.thumbnail-container .preview-tweet-button-open:hover {
  background-position: 0% 47%;
  background-image: url(../Images/thumbnail-sprites.png);
}

.thumbnail-container .preview-tweet-button-close {
  background-position: 0% 0%;
  background-image: url(../Images/thumbnail-sprites.png);
}

.thumbnail-container .preview-tweet-button-close:hover {
  background-position: 0% 9.4%;
  background-image: url(../Images/thumbnail-sprites.png);
}

.preview-image {
  width: 100%;
  padding-left: 0.7rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.preview-image img {
  max-height: 70vh;
  max-width: 68.8vw;
}

.preview-image video {
  max-height: 40vh;
}

.topic-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.15rem;
  font-size: 0.8rem;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.topic-info .author-head {
  font-weight: bold;
}

.theme--default .topic-info .author-head {
  color: #369 !important;
}

.theme--dark .topic-info .author-head {
  color: #66CCFF !important;
}

.topic-info .author-head:hover {
  cursor: pointer;
}

.topic-info .topic-info-subreddit {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  font-weight: 100;
}

.theme--default .topic-info .topic-info-subreddit {
  color: black;
}

.theme--dark .topic-info .topic-info-subreddit {
  color: rgba(255, 255, 255, 0.87);
}

.topic-info .topic-info-subreddit:hover {
  cursor: pointer;
}

.theme--default .topic-info .topic-info-subreddit:hover {
  color: #6b6b6b !important;
}

.theme--dark .topic-info .topic-info-subreddit:hover {
  color: #6b6b6b !important;
}

.topic-info .show-or-hide-comments {
  cursor: pointer;
  border: 0;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.8rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: right;
      justify-self: right;
  margin-right: 0.75rem;
}

.theme--default .topic-info .show-or-hide-comments {
  background: rgba(0, 0, 0, 0);
  color: black;
}

.theme--dark .topic-info .show-or-hide-comments {
  background: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.87);
}

.theme--default .topic-info .show-or-hide-comments:hover {
  color: #6b6b6b !important;
}

.theme--dark .topic-info .show-or-hide-comments:hover {
  color: #6b6b6b !important;
}

.topic-info .show-or-hide-comments:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 0.9rem;
}

.comments .comment-head {
  margin-top: 0.2rem;
  margin-bottom: 0.4rem;
  margin-right: 0.3rem;
  padding-left: 0.3rem;
  border-radius: 5px;
  width: 99.5%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0.05rem 0.25rem 0.05rem 0.5rem;
}

.theme--default .comments .comment-head {
  background: rgba(0, 0, 0, 0);
}

.theme--dark .comments .comment-head {
  background: rgba(0, 0, 0, 0);
}

.comment-list {
  margin-top: 0.25rem;
}

.comment-number {
  font-weight: bold;
  text-align: left;
  margin: 0.2rem;
  margin-left: 0;
  font-size: 0.7rem;
  padding: 0;
}

.theme--default .comment-number {
  color: #6e6e6e;
}

.theme--dark .comment-number {
  color: #aaaaaa;
}

.theme--default .comment {
  border: gainsboro 1px solid;
}

.comment {
  margin-top: 0.2rem;
  margin-bottom: 0.4rem;
  border-radius: 5px;
  word-break: break-word;
  width: 99.5%;
  -ms-flex-item-align: right;
      -ms-grid-row-align: right;
      align-self: right;
  padding: 0.05rem 0.25rem 0.05rem 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.3rem;
}

.comment p {
  margin-left: 0.2rem;
}

.comment .author-info {
  padding-bottom: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment .author-info .author {
  font-weight: bold;
  text-align: left;
  margin: 0.2rem;
  margin-left: 0;
  font-size: 0.7rem;
  padding: 0 2px 0 2px;
}

.theme--default .comment .author-info .author {
  color: #369;
}

.theme--dark .comment .author-info .author {
  color: #66CCFF;
}

.comment .author-info .author-darkblue {
  font-weight: bold;
  color: white !important;
  text-align: left;
  margin: 0.2rem;
  margin-left: 1px;
  font-size: 0.7rem;
  background-color: #0055df;
  border-radius: 3px;
  padding: 0 2px 0 2px;
}

.comment .author-info .points {
  font-size: 0.7rem;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 2px 0 2px;
}

.theme--default .comment .author-info .points {
  color: black;
}

.theme--dark .comment .author-info .points {
  color: rgba(255, 255, 255, 0.87);
}

.comment .author-info .comment-created-when {
  font-size: 0.7rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0.2rem;
  padding: 0 2px 0 2px;
}

.comment .comment-body {
  padding-bottom: 0.2rem;
  padding-top: 0.05rem;
  text-align: left;
}

.theme--default .comment-brighter {
  background: white;
}

.theme--dark .comment-brighter {
  background: #323232;
}

.theme--default .comment-darker {
  background: #f7f7f8 !important;
}

.theme--dark .comment-darker {
  background: #414141 !important;
}

.page-changer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme--default .page-changer {
  color: black;
}

.theme--dark .page-changer {
  color: rgba(255, 255, 255, 0.87);
}

.page-changer .page-arrow-and-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.page-changer .page-arrow-and-name-unavailable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.theme--default .page-changer .page-arrow-and-name-unavailable {
  color: #6e6e6e;
}

.theme--dark .page-changer .page-arrow-and-name-unavailable {
  color: #aaaaaa;
}

.page-changer .page-arrow-and-name:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.theme--default .page-changer .page-arrow-and-name:hover {
  color: #bb0010;
}

.theme--dark .page-changer .page-arrow-and-name:hover {
  color: #ff4500;
}

.page-changer .page-arrow {
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.4rem;
}

.page-changer .page-counter {
  font-size: 1.15rem;
}

.side-bar {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 3rem;
}

.side-bar .search-bar {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.side-bar .search-bar #search-input span {
  background-color: #FF9;
  color: #555;
}

.side-bar .side-info {
  margin-top: 1rem;
  text-align: left;
}

.side-bar .side-info .sidebar-subreddit-name {
  font-weight: bold;
  font-size: 1.1rem;
  margin-left: 3.2px;
}

.theme--default .side-bar .side-info .sidebar-subreddit-name {
  color: black;
}

.theme--dark .side-bar .side-info .sidebar-subreddit-name {
  color: rgba(255, 255, 255, 0.87);
}

.side-bar .side-info .sidebar-subreddit-subscribers {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 3.2px;
}

.theme--default .side-bar .side-info .sidebar-subreddit-subscribers {
  color: #369;
}

.theme--dark .side-bar .side-info .sidebar-subreddit-subscribers {
  color: #66CCFF;
}

.side-bar .side-info .sidebar-subreddit-accounts-active {
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 3.2px;
}

.theme--default .side-bar .side-info .sidebar-subreddit-accounts-active {
  color: #228822;
}

.theme--dark .side-bar .side-info .sidebar-subreddit-accounts-active {
  color: #44FF44;
}

.side-bar .side-info .sidebar-subreddit-public-description {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.side-bar .side-info .subreddit-sidebar-info {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.gallery-changer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.theme--default .gallery-changer {
  color: black;
}

.theme--dark .gallery-changer {
  color: rgba(255, 255, 255, 0.87);
}

.gallery-changer .gallery-arrow-and-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

.gallery-changer .gallery-arrow {
  font-size: 1.25rem;
  margin-right: 1rem;
  margin-bottom: 0.4rem;
}

.gallery-changer .gallery-counter {
  font-size: 0.8rem;
}

.gallery-changer .gallery-right-arrow-and-name {
  margin-left: 1rem;
}

.gallery-changer .gallery-right-arrow {
  margin-left: 1rem;
}

.gallery-changer .gallery-arrow-and-name:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.theme--default .gallery-changer .gallery-arrow-and-name:hover {
  color: #6b6b6b;
}

.theme--dark .gallery-changer .gallery-arrow-and-name:hover {
  color: #6b6b6b;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media only screen and (max-width: 900px) {
  .App {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 0;
    font-size: 0.6rem;
  }
  .topic-info {
    font-size: 0.6rem;
  }
  .comments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-left: 0.5rem;
  }
  .side-bar {
    display: none;
  }
  .main-subreddit-body {
    width: 100%;
  }
  .all-topics {
    width: 100%;
  }
  .top-bar {
    display: none;
  }
  .side-bar {
    display: none;
  }
  html {
    width: 100%;
  }
  .main-subreddit-body .all-topics {
    width: 100%;
  }
  .subreddit-name-border {
    width: 100%;
    padding-left: 0.75rem;
  }
  .subreddit-name-border .subreddit-name {
    margin-right: 0;
    width: 100%;
  }
  .subreddit-name-border .subreddit-name h2 {
    margin-left: 0.5rem;
  }
  .subreddit-name-border .subreddit-name .subreddit-icon {
    width: 60px;
  }
  .subreddit-name-border .subreddit-name .subreddit-icon-substitute {
    width: 60px;
  }
  .subreddit-name-border .subreddit-name-sidebar {
    display: none;
  }
  .arrows-container {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0.25rem;
  }
  .arrows-container .arrow {
    font-size: 1.2rem;
    height: 1.5rem;
  }
  .arrows-container .up-arrow {
    margin-bottom: 0;
  }
  .arrows-container .topic-score {
    display: none;
  }
  .whole-topic-container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 100%;
  }
  .whole-topic-container .topic-container {
    max-width: 97%;
  }
  .whole-topic-container .topic-container .topic {
    padding-bottom: 0.1rem;
    padding-top: 0.5rem;
  }
  .thumbnail-container {
    margin-right: 0.1rem;
    width: 100px;
    height: 50px;
    margin-top: 0rem;
    margin-left: 0.25rem;
  }
  .thumbnail-container .preview-image-button {
    margin-bottom: 0;
    width: 1rem;
    height: 1rem;
  }
  .topic-and-thumbnail {
    padding-right: 0.15rem;
  }
  .topic-and-thumbnail .topic-name {
    font-size: 0.8rem;
  }
  .topic-and-thumbnail .topic-name .topic-flair {
    font-size: 0.45rem;
    margin-right: 0.35rem;
  }
  .topic-and-thumbnail .topic-name .topic-domain {
    font-size: 0.6rem;
  }
  .topic-info {
    padding-right: 0.25rem;
    max-width: 100%;
  }
  .topic-info p {
    max-width: 70%;
  }
  .topic-info .show-or-hide-comments {
    font-size: 0.6rem;
    margin-right: 0;
  }
  .comment {
    font-size: 0.7rem;
    margin-right: 0rem;
    margin-left: 0rem;
    padding-right: 0;
  }
  .theme--default .comment {
    border: 0;
  }
  .theme--dark .comment {
    border: 0;
  }
  .comments {
    width: 100%;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .comment-list {
    margin: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .preview-image {
    margin-top: 0.5rem;
    padding-left: 0;
  }
  .preview-image video {
    max-height: 27vh;
  }
}
/*# sourceMappingURL=App.css.map */