@media only screen and (max-width: 900px) {
  .App {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: 0;
    font-size: 0.6rem;
  }
  .topic-info {
    font-size: 0.6rem;
  }
  .comments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-left: 0.5rem;
  }
  .side-bar {
    display: none;
  }
  .main-subreddit-body {
    width: 100%;
  }
  .all-topics {
    width: 100%;
  }
  .top-bar {
    display: none;
  }
  .side-bar {
    display: none;
  }
  html {
    width: 100%;
  }
  .main-subreddit-body .all-topics {
    width: 100%;
  }
  .subreddit-name-border {
    width: 100%;
  }
  .subreddit-name-border .subreddit-name {
    margin-right: 0;
    width: 100%;
    border: 1px solid green;
    width: 100%;
  }
  .subreddit-name-border .subreddit-name h2 {
    margin-left: 0.5rem;
    border: 1px solid blue;
  }
  .subreddit-name-border .subreddit-name .subreddit-icon {
    width: 50px;
    height: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subreddit-name-border .subreddit-name .subreddit-icon-substitute {
    width: 50px;
    height: 50px;
    border: 1px solid red;
  }
  .subreddit-name-border .subreddit-name-sidebar {
    display: none;
  }
  .arrows-container {
    margin-bottom: 0rem;
    margin-top: 0;
    max-width: 6%;
  }
  .arrows-container .arrow {
    font-size: 1.2rem;
    height: 2rem;
    max-width: 2.55rem;
  }
  .arrows-container .up-arrow {
    margin-bottom: 0;
  }
  .arrows-container .topic-score {
    display: none;
  }
  .whole-topic-container {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 100%;
  }
  .whole-topic-container .topic-container {
    max-width: 97%;
  }
  .whole-topic-container .topic-container .topic {
    padding-bottom: 0.1rem;
    padding-top: 0.5rem;
  }
  .thumbnail-container {
    margin-right: 0.1rem;
    width: 100px;
    height: 50px;
    margin-top: 0rem;
    margin-left: 0.25rem;
  }
  .thumbnail-container .preview-image-button {
    margin-bottom: 0;
    width: 1rem;
    height: 1rem;
  }
  .topic-and-thumbnail {
    padding-right: 0.15rem;
  }
  .topic-and-thumbnail .topic-name {
    font-size: 0.8rem;
    padding-left: 0.25rem;
  }
  .topic-and-thumbnail .topic-name .topic-flair {
    font-size: 0.45rem;
    margin-right: 0.35rem;
  }
  .topic-and-thumbnail .topic-name .topic-domain {
    font-size: 0.6rem;
  }
  .topic-info {
    padding-right: 0.25rem;
    padding-left: 0.1rem;
    max-width: 100%;
  }
  .topic-info p {
    max-width: 70%;
  }
  .topic-info .show-or-hide-comments {
    font-size: 0.6rem;
    margin-right: 0;
  }
  .comment {
    font-size: 0.7rem;
    margin-right: 0rem;
    margin-left: 0rem;
    padding-right: 0;
  }
  .theme--default .comment {
    border: 0;
  }
  .theme--dark .comment {
    border: 0;
  }
  .comment .author-info {
    padding-top: 0.25rem;
  }
  .comment .author-info .author {
    font-size: 0.5rem;
    margin: 0;
  }
  .comment .author-info .author-darkblue {
    font-size: 0.5rem;
  }
  .comment .author-info .points {
    font-size: 0.5rem;
    margin: 0;
  }
  .comment .author-info .comment-created-when {
    font-size: 0.5rem;
    margin: 0;
  }
  .comments {
    width: 100%;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .comment-list {
    margin: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .preview-image {
    margin-top: 0.5rem;
    padding-left: 0;
  }
  .preview-image video {
    max-height: 90vh;
    max-width: 51vh;
  }
  .theme-icon {
    font-size: 2rem;
    border: 1px solid yellow;
  }
  .theme--default .theme-icon {
    color: black;
  }
  .theme--dark .theme-icon {
    color: rgba(255, 255, 255, 0.87);
  }
  .subreddit-name h2 {
    margin-left: 0.5rem;
  }
  .mobile-top-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid red;
  }
  .mobile-navbar-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1.5em;
    padding-top: 0.5rem;
  }
  #theme-icon-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0.2rem;
  }
  .mobile-navbar-menu-container {
    min-width: 300px;
    width: 100%;
    max-width: 89%;
    height: 100%;
    -webkit-box-shadow: -2px 0 2px rgba(15, 15, 15, 0.3);
            box-shadow: -2px 0 2px rgba(15, 15, 15, 0.3);
    z-index: 90;
    position: fixed;
    top: 0;
    right: 0;
    -webkit-transform: translateX(4em);
            transform: translateX(4em);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 1em 2.5em;
  }
  .theme--default .mobile-navbar-menu-container {
    background: white;
    border-left: linear-gradient(to right, rgba(0, 0, 0, 0), #bb0010, rgba(0, 0, 0, 0)) 1 0 0 0;
  }
  .theme--dark .mobile-navbar-menu-container {
    background: #323232;
    border-left: linear-gradient(to right, rgba(0, 0, 0, 0), #ff4500, rgba(0, 0, 0, 0)) 1 0 0 0;
  }
}
/*# sourceMappingURL=Mobile.css.map */