@import 'Settings';
@import 'Themes';


// Tablets, Phones and other small screen devices

@media only screen and (max-width: 900px) {




  .App {
    width: 100%;
    align-items: center;
    align-content: center;
    margin: 0;
    font-size: 0.6rem;
    
  }


  .topic-info {
    font-size: 0.6rem;
  }

  .comments {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 0.5rem
  }
  .side-bar {
    display: none;
  }
  .main-subreddit-body {
    width: 100%;
  }
  .all-topics {
    width: 100%;
  }
  .top-bar {
    display: none;
    z-index: 1;
  }
  .side-bar {
    display: none;
  }
  html {
    width: 100%;
  }
  .main-subreddit-body .all-topics {
    width: 100%;
  }









  // Subreddit name
  .subreddit-name-border {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 0 0 2px rgba(15, 15, 15, 0.3);
    @include themed() {
      background-color: t($transparent-mobile-bar-background);
      border-bottom: 1px solid t($text-color);
    }
    padding-bottom: 0.05rem;
    padding-top: 0.1rem;
    // border-width: 2px;
    // border-style: solid;

    
    // @include themed() {
    //   border-image: t($gradient-border);
    // }




    .subreddit-name {
      margin-right: 0;
      width: 100%;
      width: 100%;
      justify-content: center;
      // border: 1px solid green;

      h2 {
        margin-left: 0.5rem;
        font-size: 1rem;
        justify-content: center;
        // border: 1px solid blue;
        margin: 0;
      }
      .subreddit-icon {
        width: 48px;
        height: 44px;
        justify-content: center;
        margin-left: 0.1rem;
      }

      .subreddit-icon-substitute {
        width: 48px;
        height: 44px;
      }

    }
    .subreddit-name-sidebar {
      display: none;
    }
  }



  // Upvote and Downvote arrows for topics
  .arrows-container {
    margin-bottom: 0rem;
    margin-top: 0.35rem;
    max-width: 6%;

    .arrow {
      font-size: 1.5rem;
      height: 2rem;
      max-width: 2.55rem;
    }
    .up-arrow {
      margin-bottom: 0.05rem;
    }
    .topic-score {
      font-size: 0.45rem;

    }
  }






  .whole-topic-container {
    width: 100%;

    .topic-container {
      max-width: 97%;

      .topic {
        padding-bottom: 0.1rem;
        padding-top: 0.5rem;
      }
    }
  }


  // ThumbnailContainer rules
  .thumbnail-container {
    margin-right: 0.1rem;
    width: 100px;
    height: 50px;
    margin-top: 0rem;
    margin-left: 0.25rem;



    .preview-image-button {
      margin-bottom: 0;
      width: 1rem;
      height: 1rem;
    
    }

  }


  .topic-and-thumbnail {
    padding-right: 0.15rem;
    .topic-name {
      font-size: 0.8rem;
      padding-left: 0.25rem;

      .topic-flair {
        font-size: 0.45rem;
        margin-right: 0.35rem;
      }
      .topic-domain {
        font-size: 0.6rem;
      }
    }

  }

  .topic-info {
    padding-right: 0.25rem;
    padding-left: 0.1rem;
    max-width: 100%;

    p {
      max-width: 70%;
    }
    .show-or-hide-comments {
      font-size: 0.6rem;
      margin-right: 0;
    }

  }






  .comment {
    font-size: 0.7rem;
    margin-right: 0rem;
    margin-left: 0rem;
    padding-right: 0;


    @include themed() {
      border: 0;
    }
    .author-info {
      padding-top: 0.25rem;
      .author {
        font-size: 0.5rem;
        margin: 0;
      }
      .author-darkblue {
        font-size: 0.5rem;
      }
      .points {
        font-size: 0.5rem;
        margin: 0;

      }
      .comment-created-when {
        font-size: 0.5rem;
        margin: 0;
       
      }
    }

  }
  .comments {
    width: 100%;
    margin: 0;
    justify-content: center;
  }
  .comment-list {
    margin: 0;
    justify-content: flex-start;
  }


  // Video and gifs preview
  .preview-image {
    margin-top: 0.5rem;
    padding-left: 0;
  }

  .preview-image video {
    max-height: 90vh;
    max-width: 51vh;
  }


  .theme-icon {
    font-size: 1.25rem;
    // border: 1px solid yellow;

    @include themed() {
      color: t($text-color);
    }


  }


  .subreddit-name h2 {
    margin-left: 0.5rem;

  }

  .mobile-top-bar {
    display: flex;
  }

  .mobile-navbar-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 1.5em;
    padding-top: 0.5rem;



  }

  #theme-icon-mobile {
    // width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    // padding: 0 1.5em;
    // padding-top: 0.2rem;
    margin-right: 0.25rem;
    margin-left: 0.75rem;
  }


  .mobile-navbar-menu-container {
    min-width: 300px;
    width: 100%;
    max-width: 89%;
    height: 100%;
    // box-shadow: -2px 0 0px rgba(15, 15, 15, 0.3);
    z-index: 90;
    position: fixed;
    top: 2.85rem;
    right: 0;
    transform: translateX(4em);
    user-select: none;
    padding: 0.7em 2.3em 1em 0.5em;


    @include themed() {
      background: t($transparent-mobile-bar-background);
      border-top: 1px solid t($text-color);
    }

  }

  .mobile-navbar-top-container {
    display: flex;
    width: 100%;
    padding-bottom: 0.4rem;
    border-width: 2px;
    border-style: solid;
    
    @include themed() {
      border-image: t($gradient-border);
    }

  }

  .mobile-navbar-content-container {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    // margin-top: 1em;
    // border: 1px solid purple;
  }

  .mobile-navbar-hamburger-menu-container {
    display: flex;
  }


  .login-bar {
    // border: 1px solid blue;
    width: 100%;
    margin: 0;
    margin-top: 0.05rem;
    align-items: center;
    justify-content: center;
  }
  .login-bar form {
    align-items: center;
    justify-content: center;
    margin-top: 0.1rem;
  }
  .lock-icon {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  .user-icon {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  .login-bar .login-input {
    margin-right: 0;
  }
  .input-form input[type=text] {
    font-size: 0.6rem;
    height: 20px;
    line-height: 50px;
  }


  .mobile-navbar-navlist {
    padding: 0 0.8em;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .mobile-navbar-navmenu-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }



  .mobile-sub-button {
    font-weight: 400;
    height: 2.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
  
    a {
      text-decoration: none;
      font-size: 0.9rem;
      transition: all 50ms ease-in-out;
  
      @include themed() {
        color: t($text-color);
      }

    }
  }






























}











